open3d==0.10.0
opencv_python==4.2.0.32
tqdm==4.43.0
pandas==0.25.3
imageio==2.6.1
scikit_image==0.16.2
scipy==1.4.1
plyfile==0.7.1
matplotlib==3.1.2
numpy==1.16.4
mathutils==2.81.2
tensorboardX==2.0
imageio-ffmpeg==0.4.2
git+https://github.com/MultiPath/fairseq-stable.git
git+https://github.com/MultiPath/lpips-pytorch.git